/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

@media screen and (min-aspect-ratio: 1) and (max-aspect-ratio: 14/9) {
    html {
        font-size: 1.2vh;
    }

    #header {
        height: 6rem;
        margin: 1rem 0;
    }

    #header.fly {
        top: 1rem;
    }

    .header-item {
        height: 5rem;
        border-radius: 2.5rem;
    }

    .header-icon {
        font-size: 2.5rem;
    }

    #volume,
    #theme {
        width: 25vw;
    }

    #menu {
        width: 15vw;
    }

    .tag-menu-half {
        padding: 0 3vw;
        width: 50%;
    }

    #tag-menu-all,
    .tag-menu-item,
    #exit-menu {
        border-radius: 2.5rem;
        font-size: 2.5rem;
        height: 5rem;
        line-height: 5rem;
    }

    #tag-menu-all,
    .tag-menu-item {
        margin: 1rem 0;
        letter-spacing: 0.2vw;
    }

    #exit-menu {
        margin: 1rem auto;
        width: 90vw;
    }

    #name {
        font-size: 4rem;
        letter-spacing: 0.3vw;
    }

    #avt {
        width: 20vw;
        margin: 2.5rem auto;
        border: 0.2rem solid white;
    }

    #description {
        font-size: 3rem;
    }

    #negic-icon {
        font-size: 6rem;
        padding: 1rem;
    }

    .eye {
        width: 5vw;
        margin: 0 0.8vw;
    }

    #scroll, #quantity {
        bottom: 6rem;
    }

    #scroll {
        right: 2.5rem;
        width: 6rem;
        height: 6rem;
    }

    #scroll i {
        font-size: 2.5rem;
    }

    #quantity {
        width: 11rem;
        height: 11rem;
        left: 2.5rem;
        padding: 0 0.5vw;
    }

    #anime-number {
        font-size: 2.4rem;
    }

    .rank {
        width: 6rem;
        height: 6rem;
        font-size: 2.5rem;
    }

    #quantity.active .rank {
        -webkit-transform: rotate(calc(150deg / 3 * var(--i))) translateY(-13rem);
            -ms-transform: rotate(calc(150deg / 3 * var(--i))) translateY(-13rem);
                transform: rotate(calc(150deg / 3 * var(--i))) translateY(-13rem);
    }

    #main {
        margin-bottom: 1.5rem;
    }

    .anime-wrapper {
        border-radius: 2vh;
        border: 0.1rem solid white;
        width: 85vw;
        margin: 1.5rem auto;
    }

    .anime-img-wrap {
        border-bottom: 0.05vw solid white;
    }

    .anime-level {
        padding: 0.5vw 2vw;
        font-size: 3rem;
        border-bottom-right-radius: 2vw;
        letter-spacing: 0.2vw;
    }

    .anime-link {
        font-size: 4rem;
        line-height: 4.6rem;
    }

    .anime-tag-wrap {
        padding: 1vh 2vw;
    }

    .anime-tag {
        font-size: 2.5rem;
        line-height: 3.8rem;
    }

    #quote-display {
        padding: 1rem 0;
    }

    #quote {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    #prev-quote i,
    #next-quote i {
        font-size: 2.5rem;
        padding: 1rem;
    }
}